p {
    text-align: justify;
  }

.caption-text {
    background-color: grey;
}
.avatar-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    text-align: left;
}

.social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 50%, 50%;
    border-radius: 100%;
    border: 1px solid black;
}

/* Styles for small mobile screens */
@media (max-width: 400px) {
    .profile-container,
    .contents-container {
        width: 100%;
    }
}

/* Styles for medium-sized screens and above */
@media (min-width: 401px) {
    .profile-container {
        width: 30%;
    }

    .contents-container {
        width: 65%;
    }
}
